@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.wd-kanbas-navigation .wd-icon {
  font-size: 2em;
  color: red;
}

.wd-kanbas-navigation .wd-icon-profile-inactive {
  font-size: 2em;
  color: white;
}

.wd-kanbas-navigation .wd-icon-profile-active {
  font-size: 2em;
  color: grey;
}

.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 85px;
  margin-left: 0px;
  padding-top: 10px;
  height:100vh;
  min-height: 100%;
  left:0px
}

.wd-kanbas-navigation li {
  padding: 5px;
  /* margin-bottom: 5px; */
  font-size: 0.85em;
  text-align: center;
  
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
} 

.wd-kanbas-navigation li.wd-active a {
  color: red;
} 



.wd-kanbas-navigation a i {
  color: red;
  font-size: 1.6em;
  margin-bottom: 5px;
  align-self: center;
  display: block;
}


.wd-kanbas-navigation-profile i {
  color: white;
  font-size: 1.5em;
  margin-bottom: 5px;
  float: flex;

}

.wd-kanbas-navigation li a {
  color: white;
  text-decoration: none;
  padding: 7px;
  display: block;
}

.wd-kanbas-navigation-top-bar{
  background-color: black;
  height: 60px;
  /* padding: 20px 0; */
  text-align: center;
  color: white;

}

.wd-kanbas-navigation-top-bar a {
  font-size: 1em;
  color: red;
  
}

.wd-kanbas-navigation-top-bar i {
  color: red;
  font-size: 1.6em;
}

.wd-neu-icon {
  width: 85px; 
  height: 85px;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}


